@import "fonts";


body{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: $font-family-cbc;

	img{border:0;}
		#cbc-header{
			width: 100%;
			float: left;
			padding-bottom: .5em;
			background-color: #FFEC00;


		.cbc-logo{
			    float: left;
	    		width: 28%;
	    		margin: 1% 0 0 1%;
		}

		.cbc-nav{width: 100%;
		    	// float: right;
		     	 padding-top: 1.75em;

				ul{ width: 100%;
			    	display: inline-block;
			    	text-align: center;
			    	padding: 0;
			    	margin: 0;
						li{
							display: inline-block;
				    	width: 15%;
							font-size: .75em;
							}
							#first-link-style{padding-left: 0%;}
				    			#second-link-style{text-align: right;width: 26%;}
				    			#last-link-style{width: 10%;text-align: center;}
					}
			}

	}
	& a{text-decoration: none;}


	#cbc-main-container{
		overflow: scroll;
		clear: both;
		background: #9013FE;
		max-width: 100%;
		background-image: url(../images/jac_2_bike_bg_filter.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height:600px;

		.cbc-welcome{
				position: absolute;
			    top: 1em;
			    left: 14%;
			    font-size: 3em;
			    font-weight: normal;
			    color: #FFEC00;
			    text-decoration: underline;
		}

		.cbc-middle-text{position: absolute;
			    top: 4em;
			    left: 8%;
			    font-size: 3em;
				color: #FFEC00;
	}
		.cbc-coming-soon{
					position: absolute;
			        bottom: 2em;
    				left: 31%;
			 	 	color: #ffffff;
			 	 	font-weight: 400;
			 	    font-size: 2em;}


			.cbc-left-content{width: 30%;float: left;margin: 0 auto;background: silver;text-align: center;opacity:.0;}
			.cbc-wrapper-table{width: 40%;float: left;margin: 0 auto;background: white;
				table{
					background-color: lightblue;
					border-collapse: collapse;
					margin: 0 auto;
					width: 90%;
					border: 1px navy solid;
				caption{
						font-size: 1.5em;
						color: black;
						font-weight: 600;
						padding: .5em 0;
						text-align: center;
					}
					thead{

						text-align: center;

						.cbc-tr-style{
							text-align: center;
							width: 100%;
							.cbc-month{
								    padding: 1em 0 1em 0;
								    text-align: center;


							}
						}
					}

						tbody{width: 100%;


							tr{text-align: center;

									.important-dates{
										color: red;
									}

							th{font-size: 1em;
								text-align: center;
								border: 1px solid navy;
								}
								td{
									border: 1px solid navy;
								}
							}
						}
				}
			}
			.cbc-dates{width: 30%;float: left;margin: 0 auto;text-align: center;
				// background: #9013FE;
					.cbc-heading{color: #FFEC00;}
					p{
						text-align: left;
						padding: 0 5%;
						color: #FFEC00;
					}
			}

		.cbc-message{
			    width: 25%;
    			display: inline-block;
    			padding-left: 13%;
    			color: #FFEC00;
		}

		.cbc-hours{
				width: 25%;
    			display: inline-block;
    			color: #FFEC00;
    				h2{padding-top: 2em;color: #FFEC00;}
    			}

		.cbc-address{
				width: 25%;
    			display: inline-block;
    			color: #FFEC00;
    			}

    	.cbc-map{
    			width: 67%;
    			padding: 4em 1% 0 14%;
    			}
// Directory
.cbc-thead-style{
	background:rgba(144, 19, 254, 0.3);
	tr:nth-of-type(odd) {
	background: rgba(255, 255, 255, 0.4);
	}
}



//products page
.cbc-box-text{
	color: #FFEC00;
	width:100%;
	text-align:center;
}
.boxes-container{
	width:100%;
	margin: 0 1%;
	padding:0;


	.box-one{vertical-align:top;
		width:31%;
		background:rgba(255,255,255,0.5);
		padding:1%;
		display:inline-block;
		.box-header{color: #000000;}
		.box-text{color: #000000;font-size: .75em;}
		.box-price{text-transform: uppercase;}
		.box-status{color:red;}
	}
	.box-two{vertical-align:top;
		width:31%;
		background:rgba(255,255,255,0.5);
		padding:1%;
		display:inline-block;
		.box-header{color: #000000;}
		.box-text{color: #000000;font-size: .75em;}
		.box-price{text-transform: uppercase;}
		.box-status{color:red;}
	}
	.box-three{vertical-align:top;
		width:31%;
		background:rgba(255,255,255,0.5);
		padding:1%;
		display:inline-block;
		.box-header{color: #000000;}
		.box-text{color: #000000;font-size: .75em;}
		.box-price{text-transform: uppercase;}
		.box-status{color:red;}
	}
	.box-item-status{
		width:100%;
		text-align:center;
		color:#ffffff;
	}
}


// FAQ page
.cbc-faq-heading{color:#FFEC00;font-size:2em;text-align:center;}
.faq-questions{padding:2% 10%;background:rgba(255,255,255, 0.5);
	ol{
		li{font-size:1em;line-height:2em;}
		span{font-weight:bold;}
	}
}

// Sitemap page
	.cbc-sitemap-wrapper{
				display:inline-block;
				width:100%;

				.cbc-sitemap-page{color:#FFEC00;font-size:2em;text-align:center;}

					.cbc-sitemap-one{
							display:inline-block;
							width:48%;
							list-style-type:none;
							text-align:center;
							font-weight:bold;
							li{
								margin: .5em 0;
							}
					}
					.cbc-sitemap-two{
							display:inline-block;
							width:48%;
							list-style-type:none;
							text-align:center;
							font-weight:bold;
								li{
									margin: .5em 0;
								}
						}
			& a{display:block;background:rgba(255,255,255, 0.75);padding:3em 2%;}
	}

// Bike Club Links
.cbc-bike-links{color:#FFEC00;font-size:2em;text-align:center;}
.cbc-links{
	width: 100%;
	margin:0 15%;
	li{

		margin:.15em 0;
		padding:.15em .25%;
		list-style-type: none;
		display:inline-block;
		width:33%;
		text-align:center;
	}
	& a{display:block;background:rgba(255,255,255, 0.75);padding:3em 2%;}
}




// end of main cbc-main-container
	}

	.cbc-style-img{
		background-color:red;
		position: relative;
	}

.cbc-footer{
	background-color:#FFEC00;
	display: inline-block;
	width: 100%;
	text-align: center;


.cbc-address{
	width: 100%;
	line-height: .25em;

}
	.cbc-info-text{
		width:45%;
		text-align: center;
		line-height: .05em;
		margin: 0 auto;
		.cbc-copy{text-align: left;}
		.cbc-email-logo{text-align: left;}
	}
}

		img{
			max-width: 100%;
		}



} // body ends
